---
import { Picture } from 'astro:assets'
import MY_IMG from 'assets/Foto.png'
import { starredTechnologies } from 'content/technologies'
import { contactWays } from 'content/profile'
import { jobTitle } from 'content/profile'
import ContactLink from '@components/pure/ContactLink.astro'
import TechClipSection from '@components/pure/TechClipSection.astro'
---

<section id='start' class='grid lg:grid-cols-2 place-items-center py-40'>
  <div id='bg-pic' class='scale-110 bg-custom-bg-2 shadow-xl shadow-black rounded-full lg:order-2 lg:ml-auto lg:mr-5'>
    <Picture
      src={MY_IMG}
      alt='Santino Stimoli retrato'
      widths={[200, 400, 600]}
      sizes='(max-width: 800px) 100vw, 620px'
      loading='eager'
      format='avif'
      class='rounded-full m-3 max-w-[550px] w-auto'
    />
  </div>
  <div class='max-lg:mt-10 max-lg:text-center max-lg:w-[360px]'>
    <h1 class='text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter'>Santino Stimoli</h1>
    <h2 class='text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-custom-decoration'>
      {jobTitle}
    </h2>
    <p class='text-lg mt-4 text-custom-text/80 max-w-xl [&_b]:underline [&_b]:text-custom-text'>
      <b>Profesional</b>
      <b>proactivo</b> con sólidas habilidades interpersonales y <b>eficiencia</b> en entornos laborales. Destaco por mi
      capacidad para establecer <b>conexiones</b>
      <b>significativas</b> con compañeros, lo que me ha permitido resaltar en varios proyectos.
    </p>

    <TechClipSection style='mt-3' technologies={starredTechnologies} />

    <div
      class='[&_a]:h-9 [&_a]:w-9 [&_a:hover]:text-custom-decoration [&_a]:transition-all flex gap-5 mt-5 max-lg:justify-center'
    >
      {contactWays.map((contactWay) => <ContactLink link={contactWay.link} icon={contactWay.icon} />)}
    </div>
  </div>

  <script>
    const start = document.querySelector('body')
    const el = document.getElementById('bg-pic')
    const height = el?.clientHeight ?? 0
    const width = el?.clientWidth ?? 0

    start?.addEventListener('mousemove', (evt) => {
      const { x, y } = evt
      const yRotation = ((x - width / 2) / width) * -3
      const xRotation = ((y - height / 2) / height) * -3

      const style = `
      perspective(500px)
      scale(1.1)
      rotateX(${xRotation}deg)
      rotateY(${yRotation}deg)
      `
      el !== null ? (el.style.transform = style) : ''
    })
  </script>
</section>
