---
interface Props {
  project?: Project
}
---

<div class='project-card w-[300px] md:w-[350px] shadow-p rounded-t'>
  <div
    class='h-[74px] relative float-right shadow-p w-full px-5 py-2.5 z-30 bg-gradient-to-r from-secondary to-primary border border-b-0 text-xl font-bold'
  >
    <h1>{Astro.props.project?.title}</h1>
    <h2 class='text-md font-light -mt-1'>{Astro.props.project?.company}</h2>
  </div>
  <div class='relative'>
    <div>
      <img class='h-[250px] w-full float-right border-x -z-10' src={Astro.props.project?.img} />
      <div class='absolute top-[74px] right-0.5 px-2.5 py-1.5 bg-black/50 rounded-bl-md flex items-center gap-0.5 z-40'>
        {Astro.props.project?.technologies.map((technology) => <i class={`bx ${technology} text-3xl`} />)}
      </div>
      <div class='links absolute left-3 flex gap-5 z-10 transition-all'>
        <a href={Astro.props.project?.pageLink} target='_blank'>
          <i class='bx bx-link-external bx-md'></i>
        </a>
        {
          Astro.props.project?.codeLink && (
            <a href={Astro.props.project?.codeLink} target='_blank'>
              <i class='bx bxl-github bx-md' />
            </a>
          )
        }
      </div>
    </div>
    <div
      class='relative w-full h-[150px] float-right px-5 py-2.5 bg-gradient-to-r from-secondary to-primary rounded-b border border-t-0 !z-50 shadow-p-2'
    >
      <p>
        {Astro.props.project?.description}
      </p>
    </div>
  </div>
</div>

<style>
  .project-card.visible-links .links {
    top: 262px;
  }
  .project-card .links {
    top: 330px;
  }

  .links > a {
    @apply p-3 pt-3.5 bg-black/50 rounded-t-md flex items-center gap-0.5 z-20 hover:text-secondary hover:bg-black/30 cursor-pointer transition-all;
  }

  .shadow-p {
    -webkit-box-shadow: 0px 13px 60px -15px rgba(249, 0, 61, 1);
    -moz-box-shadow: 0px 13px 60px -15px rgba(249, 0, 61, 1);
    box-shadow: 0px 13px 60px -15px rgba(249, 0, 61, 1);
  }
  .shadow-p-2 {
    -webkit-box-shadow: 0px -13px 60px -15px rgba(249, 0, 61, 1);
    -moz-box-shadow: 0px -13px 60px -15px rgba(249, 0, 61, 1);
    box-shadow: 0px -13px 60px -15px rgba(249, 0, 61, 1);
  }
</style>

<script>
  const cards = document.getElementsByClassName('project-card')

  Array.from(cards).forEach((card) => {
    card.addEventListener('mouseenter', (e) => {
      card.classList.add('visible-links')
    })

    card.addEventListener('mouseleave', () => {
      card.classList.remove('visible-links')
    })
  })
</script>
