---
import { Picture } from 'astro:assets'
import MY_IMG from '@assets/Foto.png'
import { starredTechnologies } from '@content/technologies'

import { jobTitle } from '@content/profile'
import TechClipSection from '@components/TechClipSection.astro'
import ContactWays from '@components/ContactWays.astro'
import DownloadCV from '@components/DownloadCV.astro'
---

<section id='start' class='flex flex-col justify-between'>
  <section class='grid lg:grid-cols-2 place-items-center'>
    <div id='bg-pic' class='bg-secondary shadow-xl shadow-black rounded-full lg:order-2 lg:ml-auto lg:mr-5'>
      <Picture
        src={MY_IMG}
        alt='Santino Stimoli retrato'
        widths={[200, 400, 600]}
        sizes='(max-width: 800px) 100vw, 620px'
        loading='eager'
        format='avif'
        class='rounded-full m-3 max-w-[550px] w-auto'
      />
    </div>
    <div class='max-lg:mt-20 max-lg:text-center max-lg:max-w-[400px]'>
      <h1 class='text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter'>Santino Stimoli</h1>
      <h2 class='text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-secondary'>
        {jobTitle}
      </h2>
      <p class='text-lg my-10 md:mt-4 text-secondary-text [&_b]:underline [&_b]:text-primary-text'>
        <b>Profesional</b>
        <b>proactivo</b> con sólidas habilidades interpersonales y <b>eficiencia</b> en entornos laborales. Destaco por mi
        capacidad para establecer <b>conexiones</b>
        <b>significativas</b> con compañeros, lo que me ha permitido resaltar en varios proyectos.
      </p>

      <div class='flex flex-col gap-5'>
        <TechClipSection style='mt-3 max-lg:justify-center' technologies={starredTechnologies} />
        <div class='lg:flex justify-start'><DownloadCV small /></div>
        <ContactWays title />
      </div>
    </div>
  </section>
  <div class='relative mt-14 inset-0 flex justify-center items-end'>
    <a
      href='#about'
      class='pageHref relative flex flex-col items-center uppercase hover:text-secondary view-more top-0'
    >
      <span>Ver mas</span>
      <i class='bx bx-chevron-down bx-md'></i>
    </a>
  </div>
</section>

<style>
  #bg-pic {
    @apply bg-cover bg-center;
    background-image: url('../assets/fondo-foto.png');
  }

  @keyframes moveUpDown {
    0%,
    100% {
      top: 20px;
    }
    50% {
      top: 0;
    }
  }

  .view-more {
    animation: moveUpDown 1s linear infinite;
  }
</style>

<script>
  const start = document.getElementById('start')
  const el = document.getElementById('bg-pic')
  const height = el?.clientHeight ?? 0
  const width = el?.clientWidth ?? 0

  start?.addEventListener('mousemove', (evt) => {
    const { x, y } = evt
    const yRotation = ((x - width / 2) / width) * -3
    const xRotation = ((y - height / 2) / height) * -3

    const style = `
    perspective(500px)
    scale(1)
    rotateX(${xRotation}deg)
    rotateY(${yRotation}deg)
    `

    el !== null ? (el.style.transform = style) : ''
    el !== null ? (el.style.transition = '') : ''
  })

  start?.addEventListener('mouseleave', (evt) => {
    const style = `
    perspective(500px)
    scale(1)
    rotateX(0deg)
    rotateY(0deg)
    `
    el !== null ? (el.style.transform = style) : ''
    el !== null ? (el.style.transition = 'all 200ms') : ''
  })
</script>
